dcgan/data
data
*.pyc
OpenNMT/data
imagenet/data
imagenet/*.jar
imagenet/*.tar
imagenet/*.pyc
hand_net/data
hand_net/weights_2
hand_net/weights_3
hand_net/test
hand_net/*.pth
hand_net/*.log
hand_net/*.pyc

